* {
  box-sizing: border-box;
  margin: 0;
}

html,body {
  font-family: "Karla", sans-serif;
  color: #293264;
  background-color: lightyellow;
  background-image: url("./image.jpg");
  background-size: 100%;
  background-size: cover;
  background-repeat: repeat;
}

body {
  background-image: url("./image.jpg");
  height: 100%;
  width: 100%;
  min-width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing--page {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing--header {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 2.5rem;
}

.landing--text {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 1.1rem;
}

.landing--button {
  cursor: pointer;
  background: none;
  display: block;
  margin: 1.5em auto;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: #ffff;
  background-color: #4d5b9e;
  border-radius: 8px;
  padding: 1em 2.5em;
  border: none;
  cursor: pointer;
  user-select: none;
}

fieldset {
  border: 0;
  max-width: 100%;
  min-width: fit-content;
  margin: 0 auto;
}

form {
  padding: 0.48em 0;
}

.question {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 1em 1.5em;
  color: #293264;
}

.options--cont {
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  display: flex;
  text-align: center;
  user-select: none;
}

.options--cont label {
  background: none;
  font-weight: 600;
  color: #293264;
  border-radius: 15px;
  padding: 0.6em 1.5em;
  border: 1px solid #293264;
  margin-bottom: 5px;
  cursor: pointer;
  margin: 0.7em 0.7em 1.5em 0.7em;
}

.question-container {
  display: flex;
  flex-direction: column; /*New added */
  border-bottom: 2px solid purple;
  padding: 0.5em 1em;
  align-content: center;
}

input[type="radio"] {
  display: none;
  position: absolute;
  width: 100%;
  appearance: none;
}

.options--cont input[type="radio"]:checked + label {
  background-color: lightsalmon;
  border: none;
}

.check--answers {
  background: none;
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: #ffff;
  background-color: #4d5b9e;
  border-radius: 8px;
  padding: 0.75em 1em;
  border: none;
  cursor: pointer;
  user-select: none;
}

.footer {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-evenly;
}

.end--msg {
  font-weight: 800;
  margin: 0.5em auto;
}

.end--msg > strong {
  color: #4d5b9e;
}

.fetch--msg {
  margin: 1.5em auto;
  text-align: center;
}

/* Media Queries */

/* xs */
@media (min-width: 475px) {
  .landing--header {
    font-size: 2.75rem;
  }

  .landing--text {
    font-size: 1.25rem;
  }

  .landing--button {
    font-size: 1.2rem;
  }

  .question {
    font-size: 1.15rem;
  }

  .options--cont {
    font-size: 0.9rem;
  }

  .check--answers {
    font-size: 1.2rem;
  }

  .end--msg {
    font-size: 1.15rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .landing--header {
    font-size: 3rem;
  }

  .landing--text {
    font-size: 1.4rem;
  }

  .landing--button {
    font-size: 1.3rem;
  }

  .question {
    font-size: 1.25rem;
  }

  .options--cont {
    font-size: 1rem;
  }

  .end--msg {
    font-size: 1.2rem;
  }
}

/* md */
@media (min-width: 768px) {
  .landing--header {
    font-size: 3.2rem;
  }

  .landing--text {
    font-size: 1.5rem;
  }

  .landing--button {
    font-size: 1.35rem;
  }

  .question {
    font-size: 1.35rem;
    padding: 0.5em;
  }

  .question-container {
    flex-direction: row;
    padding: 0;
  }

  .end--msg {
    margin: 0.5em auto;
    font-size: 1.25rem;
  }  

}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */


/* 2xl */
/* @media (min-width: 1536px) {} */